<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clevergang.dbtests.repository.impl.mybatis.MyBatisDataRepositoryImpl">

    <select id="findCompany" resultType="com.clevergang.dbtests.repository.api.data.Company">
        select * from company where pid = #{pid}
    </select>

    <select id="findDepartment" resultType="com.clevergang.dbtests.repository.api.data.Department">
        select * from department where pid = #{pid}
    </select>

    <select id="employeesWithSalaryGreaterThan" resultType="com.clevergang.dbtests.repository.api.data.Employee">
        select * from employee where salary > #{minSalary}
    </select>

    <select id="getProjectsWithCostsGreaterThan" resultType="com.clevergang.dbtests.repository.api.data.ProjectsWithCostsGreaterThanOutput">
        WITH
            project_info AS (
                    SELECT project.pid project_pid, project.name project_name, salary monthly_cost, company.name company_name
                    FROM project
                        JOIN projectemployee ON project.pid = projectemployee.project_pid
                        JOIN employee ON projectemployee.employee_pid = employee.pid
                        LEFT JOIN department ON employee.department_pid = department.pid
                        LEFT JOIN company ON department.company_pid = company.pid
            ),
                project_cost AS (
                    SELECT project_pid, sum(monthly_cost) total_cost
                    FROM project_info GROUP BY project_pid
            )
        SELECT project_name, total_cost, company_name, sum(monthly_cost) company_cost FROM project_info
            JOIN project_cost USING (project_pid)
        WHERE total_cost > #{totalCostBoundary}
        GROUP BY project_name, total_cost, company_name
    </select>

</mapper>