<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- Actually default setting localCacheScope=SESSION is quite unexpected behaviour, at least for me ;) -->
        <!-- I would advice to solve caching (even for session scope) by spring annotations - to better control what is cached. -->
        <!--Setting localCacheScope to STATMENT -> this way it's ensured that every call to MyBatis WILL go to database and fetch new results EVERYTIME -->
        <setting name="localCacheScope" value="STATEMENT"/>
     </settings>
    <typeHandlers>
        <package name="com.github.javaplugs.mybatis"/>
    </typeHandlers>
    <mappers>
        <mapper resource="mybatis/mappers/DataRepositoryMapper.xml"/>
    </mappers>
</configuration>